flows-Saldieren.json
[
    {
        "id": "1",
        "type": "inject",
        "z": "eab31726a59d0393",
        "name": "Start Query",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "e9a18d715d104f2e"
            ]
        ]
    },
    {
        "id": "3",
        "type": "function",
        "z": "eab31726a59d0393",
        "name": "bezug und zu influx",
        "func": "let influxResult = msg.payload;\n\nif (Array.isArray(influxResult) && influxResult.length > 0) {\n    // Extrahiere die Arbeit in Wattstunden\n    let energyWh = influxResult[0]._value;\n\n    // Umwandlung in Kilowattstunden\n    let energyKWh = energyWh / 1000;\n\n    // Daten für den InfluxDB-Out-Node vorbereiten\n    msg.payload = [\n        {\n            measurement: \"tagesenergie-Bezug\",\n            fields: { energie: energyKWh },\n            tags: { device: \"shellypro3em-EsMi_Pfauenhof\" }\n        }\n    ];\n\n    return msg;\n} else {\n    // Setze die Ausgabe auf 0, falls keine Daten gefunden wurden\n    msg.payload = [\n        {\n            measurement: \"tagesenergie-Bezug\",\n            fields: { energie: 0 },\n            tags: { device: \"shellypro3em-EsMi_Pfauenhof\" }\n        }\n    ];\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 60,
        "wires": [
            [
                "4",
                "d5f638771cd2ceef"
            ]
        ]
    },
    {
        "id": "4",
        "type": "debug",
        "z": "eab31726a59d0393",
        "name": "Resultat",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "2ac44d9180b9ecbd",
        "type": "debug",
        "z": "eab31726a59d0393",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "e92af15caa791b56",
        "type": "function",
        "z": "eab31726a59d0393",
        "name": "Einspeisung und zu influx",
        "func": "let influxResult = msg.payload;\n\nif (Array.isArray(influxResult) && influxResult.length > 0) {\n    // Extrahiere die Arbeit in Wattstunden und kehre das Vorzeichen um\n    let energyWh = Math.abs(influxResult[0]._value);\n\n    // Umwandlung in Kilowattstunden\n    let energyKWh = energyWh / 1000;\n\n    // Daten für den InfluxDB-Out-Node vorbereiten\n    msg.payload = [\n        {\n            measurement: \"tagesenergie-Einspeisung\",\n            fields: { energie: energyKWh },\n            tags: { device: \"shellypro3em-EsMi_Pfauenhof\" }\n        }\n    ];\n\n    return msg;\n} else {\n    // Setze die Ausgabe auf 0, falls keine Daten gefunden wurden\n    msg.payload = [\n        {\n            measurement: \"tagesenergie-Einspeisung\",\n            fields: { energie: 0 },\n            tags: { device: \"shellypro3em-EsMi_Pfauenhof\" }\n        }\n    ];\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 140,
        "wires": [
            [
                "d5f638771cd2ceef",
                "4"
            ]
        ]
    },
    {
        "id": "056b7512ea9d6a4c",
        "type": "complete",
        "z": "eab31726a59d0393",
        "name": "",
        "scope": [
            "3"
        ],
        "uncaught": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "3bff46653a7e901f"
            ]
        ]
    },
    {
        "id": "d5f638771cd2ceef",
        "type": "influxdb batch",
        "z": "eab31726a59d0393",
        "influxdb": "dfeb17a634674929",
        "precision": "",
        "retentionPolicy": "",
        "name": "Influx",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "esmi.tech",
        "bucket": "5years",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9a18d715d104f2e",
        "type": "influxdb in",
        "z": "eab31726a59d0393",
        "influxdb": "dfeb17a634674929",
        "name": "",
        "query": "from(bucket: \"5years\")\n  |> range(start: today())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"shellypro3em-EsMi\")\n  |> filter(fn: (r) => r[\"_field\"] == \"sum_act_power_esmi_Pos\")\n  |> filter(fn: (r) => r._value > 0) // Strombezug: positive Werte\n  |> group(columns: [\"_measurement\", \"_field\"]) // Gruppiert über Schlüssel-Tags\n  |> integral(unit: 1h) // Integration der Leistung über die Zeit in Stunden",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "esmi.tech",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "2ac44d9180b9ecbd",
                "3"
            ]
        ]
    },
    {
        "id": "3bff46653a7e901f",
        "type": "influxdb in",
        "z": "eab31726a59d0393",
        "influxdb": "dfeb17a634674929",
        "name": "",
        "query": "from(bucket: \"5years\")\n  |> range(start: today())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"shellypro3em-EsMi\")\n  |> filter(fn: (r) => r[\"_field\"] == \"sum_act_power_esmi_Neg\")\n  |> filter(fn: (r) => r._value < 0) // Stromeinspeisung: negative Werte\n  |> group(columns: [\"_measurement\", \"_field\"]) // Gruppiert über Schlüssel-Tags\n  |> integral(unit: 1h) // Integration der Leistung über die Zeit in Stunden",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "esmi.tech",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "e92af15caa791b56",
                "2ac44d9180b9ecbd"
            ]
        ]
    },
    {
        "id": "dfeb17a634674929",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://10.10.0.2:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]